/* Backport https://github.com/twbs/bootstrap/pull/29198 */
a {
 color: #0d6efd;
}

.container {
  max-width: 960px;
}

section {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

section:last-child {
  border-bottom: 0 none;
}

h2 {
  margin-bottom: 1rem;
  padding-right: 2rem;
  font-size: 2rem;
  color: #d28200;
}

@media (min-width: 768px) {
  section {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  h2 {
    text-align: right;
  }
}

h3 span:first-child {
  font-weight: bold;
}

.strike-through {
  position: relative;
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.strike-through span,
.strike-through a {
  background: #fff;
  display: inline-block;
  transform: translateY(-50%);
}
.strike-through span:first-child {
  padding-right: 1rem;
}
.strike-through span + span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .strike-through span + span {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-left: 1rem;
  }
}

.summary {
  margin-top: 0.5rem;
}

li {
  list-style: none;
}
li:before {
  content: "\f052";
  float: left;
  font: 13px Octicons;
  margin-top: 6px;
  margin-left: -20px;
  opacity: .3;
  position: absolute;
}

li > p {
  margin-bottom: 0;
}

.contact,
.profile {
  margin-bottom: 1rem;
}

.contact:last-child,
.profile:last-child {
  margin-bottom: 0;
}

.profile .network {
  text-transform: uppercase;
}

.work,
.project,
.volunteer,
.education,
.award,
.publication,
.skills {
  margin-bottom: 1rem;
}

.work:last-child,
.project:last-child,
.volunteer:last-child,
.education:last-child,
.award:last-child,
.publication:last-child {
  margin-bottom: 0;
}

.project .type {
  text-transform: capitalize;
}

.reference {
  border-left: 5px solid #e7e9ec;
  padding-left: 1rem;
}

.work .position,
.project .name,
.volunteer .position,
.education .area {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.work .website,
.volunteer .website,
.project .url {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .work .website,
  .volunteer .website,
  .project .url {
    float: right;
    margin-left: 1rem;
  }
}

.education .area:before {
  content: "\f0d7";
  font: 2rem Octicons;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.education .studyType {
  margin-left: 1.5rem;
}

.publication .website a:before {
  content: "View publication";
}

@media (min-width: 768px) {
  #publications .website a:before {
    content: attr(href);
  }
}

/* Old */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .h3 {
    font-size: 1rem;
  }
  /*
  .date {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .strike-through span:first-child {
    margin-bottom: 7px;
  }
  .strike-through span {
    display: block;
  } 
  */
}
