[buildout]
parts =
   jsonresume
   py
   build-cv-local
   build-cv

[jsonresume]
recipe = gp.recipe.node
npms =
   resume-cli

[py]
recipe = zc.recipe.egg
eggs =
   ipython
   pyyaml
   ghp-import
interpreter =
   py

[build-cv-local]
recipe = yt.recipe.shell
script =
   cd ${buildout:directory}
   ./bin/py yaml2json.py cv.yaml output/resume.json
   cd output/
#   ../bin/resume export cv --format pdf
   ../bin/resume export index --format html
name = ${:_buildout_section_name_}

[build-cv]
<= build-cv-local
script =
   ${build-cv-local:script}
   ../bin/ghp-import -n -p -m "Update CV" .
