@page {
  /*size: 8.5in 11in;*/
  margin: 1cm;
}

html,
body {
  /*min-width: unset !important;*/
  margin: 0;
  background: #fff;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 10px;
}

.container {
  margin:0 !important;
  width: 100% !important;
  min-width: unset !important;
  max-width: none !important;
}

section {
  max-width: 110vw !important;
  margin-bottom: 0.15cm;
  padding-bottom: 0.15cm;
}

#header {
  padding: 0.15cm !important;
}

#header .row {
  max-width: 90vw;
}

#header .col-sm-9 {
  margin-left: 1cm;
  max-width: 75%;
}

.offset-sm-1 {
  margin-left: 0 !important;
}

.profile-picture {
  max-width: 2cm;
}

.qrcode {
  text-align: right;
  line-height: 1.1;
}

h2,
.h2 {
  margin-bottom: 0.1cm;
  text-align: unset;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

ul {
  padding-left: 0.5cm;
}

.section-heading {
  width: 20%;
}

.about a::after,
.username a::after,
.summary a::after,
.highlights a::after,
.roles a::after {
  content: " (" attr(href) ")";
  color: #000;
  font-size: 80%;
}

.list-fancy {
  list-style: disc;
}

.list-fancy > li::before {
  display: none;
}

